@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 100% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 125 27% 45%;
    --primary-foreground: 125 20% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 273 40% 95%;
    --accent-foreground: 273 40% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 125 27% 55%;
    --chart-1: 125 27% 45%;
    --chart-2: 273 40% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 125 27% 45%;
    --sidebar-primary-foreground: 125 20% 98%;
    --sidebar-accent: 273 40% 95%;
    --sidebar-accent-foreground: 273 40% 10%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 125 27% 55%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 125 27% 55%;
    --primary-foreground: 125 20% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 273 40% 12%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 125 27% 55%;
    --chart-1: 125 27% 55%;
    --chart-2: 273 40% 55%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 125 27% 55%;
    --sidebar-primary-foreground: 125 20% 10%;
    --sidebar-accent: 273 40% 12%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 125 27% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
